<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Annonces</title>
</head>
<body>
    <h1>Liste des Annonces</h1>
    <div th:if="${annonces.empty}">
        <p>Aucune annonce n'est disponible pour le moment.</p>
    </div>
    <div th:if="${!annonces.empty}">
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>État</th>
                <th>Date de publication</th>
                <th>Zone</th>
                <th>En main propre</th>
                <th>Mots-clés</th>
                <th>Panier</th>
                <th>User id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="annonce : ${annonces}">
                <td th:text="${annonce.title}"></td>
                <td th:text="${annonce.description}"></td>
                <td th:text="${annonce.state}"></td>
                <td th:text="${annonce.publicationDate}"></td>
                <td th:text="${annonce.zone}"></td>
                <td th:text="${annonce.isHandDelivery ? 'Oui' : 'Non'}"></td>
                <td>
                    <ul>
                        <li th:each="keyword : ${annonce.keywords}" th:text="${keyword}"></li>
                    </ul>
                </td>
                <td>
                    <form th:action="@{/card/annonce/{annonceId}(annonceId=${annonce.id})}" method="post">
                        <button type="submit">Ajouter au Panier</button>
                    </form>
                </td>
                <td>
                    <div th:if="${user.id != annonce.user.id}">
                        <a th:href="@{/conversations/{id}(id=${annonce.user.id})}" >Contacter</a>
                    </div>
                    
                </td>
               
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>
