<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme de Dons</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header>
        <h1>Bienvenue sur la Plateforme de Dons</h1>
        <p>Proposez et trouvez des objets facilement !</p>
    </header>
    <div class="content">
        <h2>Commencez par explorer</h2>
        <p>Vous pouvez créer une annonce, rechercher des objets, et plus encore !</p>
        <a href="/annonces" class="button">Voir les annonces</a>
        <a href="/annonces/mesannonces" class="button">Voir mes annonces</a>
        <a th:href="@{/card}" class="button">Mon panier</a>
        <a href="/logout" class="button">Logout</a>
    </div>
    <div >
        <h1>Messagerie</h1>
        <div th:if="${users.empty}">
            <p>Aucun contact </p>
        </div>
        <table  th:if="${!users.empty}">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Messagerie</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td>
                        <a th:href="@{/conversations/{id}(id=${user.id})}">Messagerie</a>
                    </td>

                    
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div id="notifications">
        <h1>Notification</h1>
        <div class="checkgroup">
            <input type="checkbox" th:checked="${user.hasNotification}" th:onchange="'changehasNotification()'">
            <p th:if="${!user.hasNotification}">Activer les notifications</p>
            <p th:if="${user.hasNotification}"> Désactiver les notifications</p>
           
        </div>
        <div th:if="${notifications.empty}">
            <p>Aucune notification </p>
        </div>
        <table  th:if="${!notifications.empty}">
            <thead>
                <tr>
                    <th>Vue</th>
                    <th>Message</th>
                    <th>Annonce</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="notification : ${notifications}" th:class="${notification.status == 0 ? 'disabled-row' : ''}">

                    <td>
                        <input type="checkbox" 
                         th:checked="${notification.status == 1}" 
                        th:disabled="${notification.status == 0}" 
                        th:onchange="'changeStatus(this, ' + ${notification.id} + ')'">
                    </td>
                    <td th:text="${notification.message}"></td>
                    <td>
                        <a th:href="@{/annonces/{id}(id=${notification.annonce.id})}">Annonce</a>
                    </td>

                    
                    
                </tr>
            </tbody>
        </table>
    </div>
    <h1>Créer une Nouvelle Annonce</h1>
    <form id="annonceForm">
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" required><br>
    
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br>
    
        <label for="state">État de l'objet :</label>
        <select id="state" name="state" required>
            <option value="" disabled selected>Choisissez un état</option>
            <option value="NEUF">Neuf</option>
            <option value="OCCASION">Occasion</option>
        </select>

        <label for="publicationDate">Date de publication :</label>
        <input type="datetime-local" id="publicationDate" name="publicationDate" readonly><br>

        <label for="zone">Zone géographique :</label>
        <select id="zone" name="zone" required>
            <option value="" disabled selected>Choisissez une région</option>
            <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
            <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
            <option value="Bretagne">Bretagne</option>
            <option value="Centre-Val de Loire">Centre-Val de Loire</option>
            <option value="Corse">Corse</option>
            <option value="Grand Est">Grand Est</option>
            <option value="Hauts-de-France">Hauts-de-France</option>
            <option value="Île-de-France">Île-de-France</option>
            <option value="Normandie">Normandie</option>
            <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
            <option value="Occitanie">Occitanie</option>
            <option value="Pays de la Loire">Pays de la Loire</option>
            <option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
        </select>
        <label for="isHandDelivery">En main propre :</label>
        <div>
            <label><input type="radio" id="yes" name="isHandDelivery" value="true"> Oui</label>
            <label><input type="radio" id="no" name="isHandDelivery" value="false"> Non</label>
        </div>

        <label for="keywordInput">Mots-clés :</label>
        <input type="text" id="keywordInput" placeholder="Entrez un mot-clé">
        <button type="button" onclick="addKeyword()">Ajouter mot-clé</button>

        <ul id="keywordsList"></ul>
        <div id="keywordsHiddenFields"></div>
        <button type="submit">Ajouter l'annonce</button>
    </form>
    <div id="message"></div>
    <div id="searchList">
        <h1>Historique des recherches</h1>
        <div th:if="${searchs.empty}">
            <p>Aucune recherche n'est disponible pour le moment.</p>
        </div>
        <table  th:if="${!searchs.empty}">
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Mots-clés</th>
                    <th>État</th>
                    <th>Date</th>
                    <th>Lien</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="search : ${searchs}">
                    <td th:text="${search.zone}"></td>
                    <td th:text="${search.keywords}"></td>
                    <td th:text="${search.state}"></td>
                    <td th:text="${search.date}"></td>
                    <td>
                        <a th:href="@{/annonces/search(state=${search.state}, zone=${search.zone}, keywords=${search.keywords}, date=${search.date})}">Voir les résultats</a>
                    </td>
                    <td>
                        <Button type="button" class="delete-search" th:value="${search.id}">Supprimer</Button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="search-container">
        <h2>Rechercher des annonces</h2>
        <form id="searchForm" action="/annonces/search" method="GET">
            
            
            <label for="state">État :</label>
            <select id="state" name="state">
                <option value="">-- Choisir un état --</option>
                <option value="NEUF">Neuf</option>
                <option value="OCCASION">Occasion</option>
            </select>
    
            <!-- Zones géographiques -->
            <label for="zone">Zone géographique :</label>
            <select id="zone" name="zone" multiple>
                <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
                <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
                <option value="Bretagne">Bretagne</option>
                <option value="Centre-Val de Loire">Centre-Val de Loire</option>
                <option value="Corse">Corse</option>
                <option value="Grand Est">Grand Est</option>
                <option value="Hauts-de-France">Hauts-de-France</option>
                <option value="Île-de-France">Île-de-France</option>
                <option value="Normandie">Normandie</option>
                <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
                <option value="Occitanie">Occitanie</option>
                <option value="Pays de la Loire">Pays de la Loire</option>
                <option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
            </select><br>
    
           
            <label for="keywords">Mots-clés :</label>
            <select id="keywords" name="keywords" multiple>
                
                
            </select><br>
    
            
            <label for="date">Filtrer par date :</label>
            <select id="date" name="date">
                <option value="">Toutes les dates</option>
                <option value="1hour">Dernière heure</option>
                <option value="5days">5 derniers jours</option>
                <option value="30days">30 derniers jours</option>
            </select><br>
  
            <button type="submit">Rechercher</button>
            <button type="button"  id="saveButton" >Enregistrer</button>
        </form>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>
