<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mon Panier</title>
</head>
<body>
<h1>Votre Panier</h1>

<div th:each="lot : ${card.lots}">
    <h3>Lot #<span th:text="${lot.id}"></span></h3>

    <!-- Affichage du nom de l'utilisateur associé au lot -->
    <p>Utilisateur : <span th:text="${lot.user.username}"></span></p>

    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="annonce : ${lot.annonces}">
            <td th:text="${annonce.title}"></td>
            <td th:text="${annonce.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
